{% extends 'base.html' %}
{% load format_price_cr %}
{% load static %}

{% block pagina %}
Carrito de compras
{% endblock pagina %}

{% block body %}
<div class="container-fluid d-flex justify-content-center">
    <div class="card col-md-10">
        <div class="card-header text-center">
            <h1>Carrito</h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center col-md-12">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Personalización</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
    
                        {% if cart.cart.items %}
                        {% for key, value in cart.cart.items %}
                        <tr>
                            <td>{{ value.nombre }}</td>
                            <td>
                                {% if value.personalizacion_id %}
                                {{ value.nombre_personalizacion }}
                                {% else %}
                                Sin personalización
                                {% endif %}
                            </td>
                            <td>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-md-3"><a href="{% url 'cart_decrement' product_id=key %}"
                                            class="btn btn-primary">-</a>
                                    </div>
                                    <div class="col-md-4">{{ value.cantidad }}</div>
                                    <div class="col-md-3">
                                        <a href="{% url 'cart_add' product_id=key %}" class="btn btn-primary">+</a>
                                    </div>
                                </div>
                            </td>
                            <td>{{ value.precio|currency_format }}</td>
                            <td>{{ value.subtotal|currency_format }}</td>
                            <td>
                                <a href="{% url 'cart_remove' product_id=key %}" class="btn btn-sm btn-danger">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="6">El carrito está vacío</td>
                            {% endif %}
    
                    </tbody>
                </table>
            </div>
            <div class="container-fluid d-flex justify-content-center">
                <div class="row text-center">
                    <h1>Total</h1>
                    <h2>{{ total|currency_format_with_symbol }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <a class="mybtn-danger" href="{% url 'cart_clear' %}">Vaciar carrito</a>
                    <a class="mybtn-primary-a" href="{% url 'home' %}">Seguir comprando</a>
                </div>
                <div class="col-md-2  ">
                </div>
            </div>
            {% if user.is_authenticated %}
            <form action="{% url 'crear_pedido' %}" method="post">
                {% csrf_token %}
                <div class="d-grid mt-3">
                    <button type="submit" class="mybtn-primary-a" {% if cart.cart.items|length == 0 %}disabled{% endif %}>Finalizar compra</button>
                </div>
            </form>
            {% else %}
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="d-grid mt-3">
                    <button type="submit" class="mybtn-primary-a" {% if cart.cart.items|length == 0 %}disabled{% endif %}>Finalizar compra</button>
                </div>
            </form>
            {% endif %}
                
        </div>
    </div>
</div>
{% endblock body %}