{% extends 'base.html' %}
{% load static %}

{% block pagina %}
Registrar producto
{% endblock pagina %}


{% block body %}

<div class="container-fluid mt-3 mb-3 justify-content-center d-flex">
    <div class="card col-md-4">
        <div class="card-header text-center">
            <h3>Registrar producto</h3>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <label for="imagenes">Imágenes:</label>
                    <input type="file" name="imagenes[]" multiple class="form-control-file form-control" id="imagenes" onchange="mostrarVistaPrevia(this);">
                </div>
                <br>
                <output id="vista-previa"></output>
                
                <div class="d-grid gap-2 mt-2">
                    <button class="mybtn-primary" type="submit">Registrar producto</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}