{% extends 'base.html' %}
{% load static %}

{% block pagina %}
Registrar producto
{% endblock pagina %}


{% block body %}

<div class="container-fluid mt-3 mb-3 justify-content-center d-flex">
    <div class="card col-md-4">
        <div class="card-header text-center card-header-esp">
            <h3>Registrar categoria</h3>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2 mt-2">
                    <button class="mybtn-primary" type="submit">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock body %}