{% extends 'base.html' %}
{% load static %}
{% load format_price %}

{% block pagina %}
Productos
{% endblock pagina %}


{% block body %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-esp" style="  background-color: #76aada; color: #fff;">
            <h1><i class="fa-solid fa-magnifying-glass"></i> Lista de productos</h1>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead class="text-center">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Imagen principal</th>
                    </tr>
                </thead>
                <tbody class="mytbody text-center">
                    {% if productos %}
                    {% for p in productos %}
                    <tr>
                        <td>{{ p.id }}</td>
                        <td>{{ p.nombre }}</td>
                        <td>$ {{ p.precio|format_price }} CLP</td>
                        <td>{{ p.stock }}</td>
                        <td>{{ p.categoria }}</td>
                        {% if p.img_principal %}
                        <td><img src="{{ p.img_principal.url }}" class="mytbody-img"></td>
                        {% else %}
                        <td class="text-center"><span>Sin imagen principal</span></td>
                        {% endif %}
                        <td><a class="mybtn-primary-a" href="{% url 'producto_update' pk=p.id %}">Editar</a></td>
                        <td><a class="mybtn-danger" href="{% url 'producto_delete' pk=p.id %}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center">No hay datos disponibles</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a class="mybtn-primary-a" href="{% url 'producto_create' %}"><i class="fa-solid fa-plus"></i> Nuevo
                producto</a>
        </div>
    </div>
</div>
{% endblock body %}