{% extends 'base.html' %}
{% load static %}
{% load format_price %}

{% block pagina %}
Productos
{% endblock pagina %}


{% block body %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8 col">
            <div class="card">
                <div class="card-header card-header-esp"
                    style="background-color: #76aada; color: #fff; display: flex; align-items: center;">
                    <h1><i class="fa-solid fa-magnifying-glass"></i> Lista de productos</h1>
                    <a href="{% url 'producto_create' %}" style="margin-left: auto;"
                        class="mybtn-primary-a-card-header">Nuevo Producto <i class="fas fa-plus fa-lg"></i></a>
                </div>

                <div class="card-body">
                    {% if productos %}
                    {% for p in productos %}

                    <div class="row mt-3 justify-content-center">
                        <div class="col-12 col-md-3">
                            {% if p.img_principal %}
                            <img src="{{ p.img_principal.url }}" class="img-div" alt="{{ p.nombre }}">
                            {% else %}
                            <span>Sin imagen principal</span>
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-6">
                            <h3>{{ p.nombre }}</h3>
                            <p>Precio: $ {{ p.precio|format_price }} CLP</p>
                            <p>Stock: {{ p.stock }}</p>
                            <p>Categoría: {{ p.categoria }}</p>
                            <p>Cantidad vendida: {{ p.cantidad_vendidos }}</p>
                        </div>
                        <div class="col-12 col-md-3 mt-5">
                            <a class="mybtn-primary-a w-100 mt-2" href="{% url 'producto_update' pk=p.id %}">Editar</a>
                            <a class="mybtn-danger w-100 mt-3 eliminar-btn" data-toggle="modal"
                                data-target="#exampleModal{{ p.id }}">Eliminar</a>
                            <!-- Modal Eliminar -->
                            <div class="modal fade" id="exampleModal{{ p.id }}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Eliminar producto</h5>
                                        </div>
                                        <div class="modal-body">
                                            <p>¿Estás seguro que quieres eliminar el producto "{{ p.nombre }}"?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cancelar</button>
                                            <a href="{% url 'producto_delete' pk=p.id %}"
                                                class="mybtn-danger">Eliminar definitivamente</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                    {% else %}
                    <p>No hay productos</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
