.mybtn {
  font-size: 1.2em;
  color: #76aada;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  text-decoration: none;
  padding: 21px;
  padding-left: 40px;
  padding-right: 40px;
}
.mybtn:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #76aada;
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}
.mybtn:hover {
  color: #fff;
}
.mybtn:hover:after {
  width: 110%;
}

.icono-footer{
  font-size: 2rem;
}

.mybtn-primary{
  border: none;
  width: auto;
  height: 38px;
  background: #76aada;
  color: #fff;
  border-radius: 7px;
  
}

.mybtn-primary-a{
  border: none;
  width: auto;
  height: 38px;
  background: #76aada;
  color: #fff;
  border-radius: 7px;
  padding-top: 5px;
  text-decoration: none;
}

.nav-span{
  font-size: 1.2rem;
  color: #fff;
}

.card-header-esp{
  background-color: #76aada;
  color: #fff;
}

.a-card-gestion{
  text-decoration: none;
}

.mybtn-primary-a {
  display: inline-block;
  box-sizing: border-box;
  height: 38px;
  line-height: 38px;
  padding: 0 16px;
  background-color: #76aada;
  color: #fff;
  border: none;
  border-radius: 7px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.mytbody{
  line-height: 200px;
}

.mytbody-img{
  height: 160px;
  border-radius: 10px;
  width: 50%;
  /* margin-left: 25%; */
}

.img-card-nuevo {
  max-height: 150px; /* Ajusta este valor según tus preferencias */
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
}

.card {
  margin: 15px;
}

.img-previa {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.btn-cantidad{
  border: none;
  background: #76aada;
}

.a-card-preciente{
  text-decoration: none;
  color: #000;
}

.font-roboto{
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

.font-staatliches{
  font-size: 25px;
  font-family: 'Staatliches', cursive;
}

.color-espideas{
  color: #76aada;
}

.color-card-preciente{
  color: #0A4D68;
}

.prod-bot{
  margin-top: 25%;
}

.btn-cantidad-up{
  border: none;
  background: #76aada;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #fff;
}

.btn-cantidad-down{
  border: none;
  background: #76aada;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}